<header>
  <img src='/img/weather.png' style='float:left' />
  <h1>{{title}}</h1>

  <a href='/'>Weather</a>
  <a href='/about'>About</a>
  <a href='/help'>Help</a>
  <a href='/help'>Contact Us</a>
  <img class='design1' src='/img/yon.png' style='float:right' />

</header>